<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/admin.css">
    <title>Portfolio</title>
</head>
<body>
    <%- include('../views/nav') %>
    <h1>Microjam</h1>
    <div class="project_card">
        <img src="/images/microjam.png" alt="Gameboy Advance game Microjam">
        <p>Worked on a collaborative project with my class on a Gameboy Advance game. I worked with a partner to design and develop a mini game for this game called Planetoids. 
            In this game, the goal is to destroy some asteroids to beat the game. The number of asteroids is dependent on the difficulty level of the overall game.</p>
        <a href="https://github.com/grc-cohort-23/microjam" target="_blank"><p>GitHub Repository</p></a>
    </div>
    <h1>Game Deal Finder Web App</h1>
</body>
</html>