body {
    background-color: #2C3930 ;
    font-family: sans-serif;
    margin: 0;
    color: #DCD7C9;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: .5rem;
    background-color: #3F4F44;
    margin: .5rem;
    border: 2px solid #A27B5C;
    border-radius: 2rem
}

nav p{
    margin: 1rem;
}

a {
    text-decoration: none;
    color: #DCD7C9;
    border-radius: 20px;
    border: 2px solid #A27B5C;
}

a:hover {
    transition: 0.3s;
    border: 2px solid #DCD7C9;
    border-radius: 20px;
    background-color: #3F4F44;
}

.project_card{
    display: flex;
    margin: 2rem;
    background-color: #A27B5C;
    border: 5px solid #DCD7C9;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

img{
    width: 20%;
    margin: 1rem;
    border-radius: 1rem;
}

.project_card a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .75rem 1rem;
    margin: 1rem;
    white-space: nowrap;
}

.project_card a p{
    margin: 0;
    border: none;
    width: auto;
}

.project_card  p{
    width: 30%;
    justify-items: center;
}

